<!DOCTYPE html>
<html>
<head>
  <title>彩立方</title>
  <%= stylesheet_link_tag    'weixin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'weixin', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'layouts/weixin_header'%>
<div style="margin-top:70px">
  <%= yield %>
</div>
<%= render partial: 'layouts/weixin_footer'%>

</body>
</html>
