<!DOCTYPE html>
<html style="background:url(/images/hbg_w960bg.jpg)">
<head>
  <title>彩立方</title>
  <%= stylesheet_link_tag    'weixin', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'weixin', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <%= csrf_meta_tags %>
</head>
<body style="overflow-x:auto !important;" class="cbp-spmenu-push weixin_header_menu">
<%= render partial: 'layouts/weixin_header'%>
<div style="margin-top:5px">
  <%= yield %>
</div>
<%= render partial: 'layouts/weixin_footer'%>

</body>
</html>
